@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
}
header{
    padding: 2em;
    .logo{
        font-weight: bold;
        color:black;
    }
    .menu-btn{
        float:right;
        width: 18px;
        cursor:pointer;
    }
}
section{
    padding : 4em;
        h1{
            font-size:4em;
            margin: 1em auto ;
            width:70%;
            
            &::before{
                content: ' ';
                border-top: 5px solid rgb(170, 170, 170);
                display: block;
            }

        }

}
nav{
    position:absolute;
    background: black;
    padding: 2em;
    width: calc(100% - 4em);
    height: calc(100vh - 4em);
    display:none;
    transform: scaleX(0);
    transform-origin: right;

    .close-btn {
        float:right;
        width: 18px;
        cursor:pointer;
        opacity: 0;
    
        

    }
    ul{
        list-style-type:none;
        margin: 10% auto 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        width: 80%;
        a{
            color:white;
            font-weight: bold;
            font-size: 1.4em;
        }
        span{
            color:gray;
            display:block;
            font-size: .75em;
            margin-top: 20px;


        }
        li{
            opacity: 0;
        }
    }
}
//Animacija za odpiranje menija 
//-------------------------------------------------------------------------------------------------------------
.show-menu{
    display:block;
    animation : slide-menu 1s ease-in forwards;
        .close-btn{
            animation: show-close-btn 1s 1s forwards;
        }
        li:nth-of-type(1){
            animation : show-name 1s forwards 1s ease-in-out;
        }
        li:nth-of-type(2){
            animation : show-name 1s forwards 1.4s ease-in-out;
        }
        li:nth-of-type(3){
            animation : show-name 1s forwards 1.8s ease-in-out;
        }
        li:nth-of-type(4){
            animation : show-name 1s forwards 2.2s ease-in-out;
        }

}


//animacija za prikaza menija 
@keyframes slide-menu{
    from{
        transform : scaleX(0);
    }
    to{
        transform : scaleX(1);
    }
}
//animacija za kazanje gumba za zapiranje
@keyframes show-close-btn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
//animacija za kazanje imena nalog
@keyframes show-name{
    from{
        transform: translateY(50%);
        opacity:0
    }
    to{
        transform: translateY(0); 
        opacity: 1;
    }
}

//---------------------------------------------------------------------------------------------------------------------------
//animacija za zapiranje menija
.hide-menu{
    display:block;
    animation : hide-menu 1s ease-in forwards;
        .close-btn{
            animation: hide-close-btn 1s 1s forwards;
        }
        li:nth-of-type(1){
            animation : hide-name 1s forwards 1s ease-in-out;
        }
        li:nth-of-type(2){
            animation : hide-name 1s forwards 1.4s ease-in-out;
        }
        li:nth-of-type(3){
            animation : hide-name 1s forwards 1.8s ease-in-out;
        }
        li:nth-of-type(4){
            animation : hide-name 1s forwards 2.2s ease-in-out;
        }

}
//animacija za skrivanje menija
@keyframes hide-menu{
    from{
        transform : scaleX(1);
    }
    to{
        transform: scaleX(0);
    }
}
//animacija za skrivanje gumba
@keyframes hide-close-btn{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
//animacija za skrivanje imena naloge
@keyframes hide-name{
    from{
        transform: translateY(50%);
        opacity:1
    }
    to{
        transform: translateY(0); 
        opacity: 0;
    }
}

//Css za Naloge:
.text{
    margin: auto;
    width: 80%;
    text-align: left;
   


}
.naslov-naloge{
    font-weight: bold;
    text-align: center;
    font-size: 4em;
    margin-bottom: 1em;



}
.naloga-img{
    width: 20%;
    height: 20%;
    float: left;
    margin-top: 2em;
    margin-left: 10%;
    transition: transform .2s;


}
.naloga-img:hover{
  transform: scale(2);
   
 


}
.back-btn{
    float:right;
    width: 32px;
    cursor:pointer;
  
    

}